$orange-primary: rgb(255, 145, 43);

$brown-primary: rgb(131, 69, 11);
$brown-secondary: lighten($brown-primary, 20%);
$brown-tertiary: lighten($brown-primary, 40%);
$brown-quaternary: lighten($brown-primary, 70%);
$brown-quinary: lighten($brown-primary, 90%);
